{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/blogstyle.css' %}"/>
    <title>Spencer Blog</title>
</head>
<body>
    <header class="header">
        <nav class="nav-bar">
            <a href="#" class="site-name">The Blog</a>
            <ul class="nav-menu">
                <li class="nav-menu-list">
                    <a href="#" class="nav-list-link">Home</a>
                </li>

                <li class="nav-menu-list">
                    <a href="#" class="nav-list-link">About-Us</a>
                </li>

                <li class="nav-menu-list">
                    <a href="#" class="nav-list-link">Our-Service</a>
                </li>
            </ul>

            <div class="entry">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>
    
</body>
</html>